.ce-code__textarea {
    min-height: 200px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    color: #41314e;
    line-height: 1.6em;
    font-size: 12px;
    background: #f8f7fa;
    border: 1px solid #f1f1f4;
    box-shadow: none;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    resize: vertical;
}

.ce-code__textarea::before {
    content: '';
    background-image: url("https://raw.githubusercontent.com/symbo-ls/platform/3648f17eb2244371111f1d016dde2de7e0da7711/uikit/icons/logos/domql.svg?token=ACFWAWNDMS5HOJ4BXSQMWZDEO4454");
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    position: absolute;
    margin-top: 8px;
    left: 0;
}
